<?xml version="1.0" encoding="ISO-8859-1" ?>
<db>
<system
db="pubmlst_bigsdb_neisseria_isolates"
 dbtype="isolates"
 webroot="/neisseria"
 indexpage=""
 view="isolates"
 script_path_includes="/bigsdb/"
 curate_path_includes="/bigsdb/"
 maindisplay_aliases="yes"
 noshow="isolate,region,penicillin,sulphonamide,ceftriaxone,chloramphenicol,cefotaxime,rifampicin,ciprofloxacin"
 description="Neisseria PubMLST"
 authentication="builtin"
 read_access="public"
 projects="yes"
>
</system>
<field type="int" required="yes" length="5" maindisplay="yes" comments="primary key">id</field>
<field type="text" required="yes" length="20" maindisplay="yes" comments="isolate name">isolate</field>
<field type="text" required="yes" length="30" maindisplay="yes" comments="Country where strain was isolated,use name of country at time of isolation">country</field>
<field type="text" required="no" length="30" maindisplay="no" comments="Region/city etc inside country">region</field>
<field type="int" required="no" length="4" maindisplay="yes" comments="year of isolation">year</field>
<field type="int" required="no" maindisplay="no" comments="age in years">age_yr</field>
<field type="int" required="no" maindisplay="no" comments="month part of age (1-12) for patients under 1 year old">age_mth</field>
<field type="text" required="no" length="12" maindisplay="no" comments="sex of patient/carrier" optlist="yes">sex
  <optlist>
   <option>male</option>
   <option>female</option>
  </optlist>
</field>
<field type="text" required="no" length="40" maindisplay="yes" comments="please put other diseases in comments field" optlist="yes">disease
  <optlist>
   <option>carrier</option>
   <option>meningitis</option>
   <option>septicaemia</option>
   <option>meningitis and septicaemia</option>
   <option>uncomplicated gonorrhoea</option>
   <option>disseminated gonococcal infection</option>
   <option>invasive (unspecified/other)</option>
   <option>other</option>
  </optlist>
</field>
<field type="text" required="no" length="40" maindisplay="no" comments="biological source of sample" optlist="yes">source
  <optlist>
   <option>blood</option>
   <option>CSF</option>
   <option>throat swab</option>
   <option>urethral swab</option>
   <option>joint fluid</option>
   <option>sputum</option>
   <option>other</option>
  </optlist>
</field>
<field type="text" required="no" length="40" maindisplay="no" optlist="yes">epidemiology
  <optlist>
   <option>carrier</option>
   <option>healthy contact</option>
   <option>sporadic case</option>
   <option>endemic</option>
   <option>epidemic</option>
   <option>pandemic</option>
  </optlist>
</field>
<field type="text" required="yes" length="40" maindisplay="yes" comments="Species name in multiple species databases where permitted" optlist="yes">species
  <optlist>
   <option>Neisseria meningitidis</option>
   <option>Neisseria lactamica</option>
   <option>Neisseria gonorrhoeae</option>
   <option>Neisseria cinerea</option>
   <option>Neisseria mucosa</option>
   <option>Neisseria flava</option>
   <option>Neisseria flavescens</option>
   <option>Neisseria perflava</option>
   <option>Neisseria polysaccharea</option>
   <option>Neisseria sicca</option>
   <option>Neisseria subflava</option>
   <option>Neisseria elongata</option>
   <option>Neisseria dentrificans</option>
   <option>Neisseria sp.</option>
  </optlist>
</field>
<field type="text" required="no" length="20" maindisplay="yes" comments="if you select 'other' please provide further details in the comments field" optlist="yes">serogroup
  <optlist>
   <option>A</option>
   <option>B</option>
   <option>C</option>
   <option>X</option>
   <option>Y</option>
   <option>Z</option>
   <option>W-135</option>
   <option>29E</option>
   <option>H</option>
   <option>J</option>
   <option>K</option>
   <option>L</option>
   <option>NG</option>
   <option>other</option>
  </optlist>
</field>
<field type="text" required="no" length="40" maindisplay="no" optlist="yes">MLEE_designation
  <optlist>
   <option>A4 Cluster</option>
   <option>ET-37 Complex</option>
   <option>ET-5 Complex</option>
   <option>Lineage 3</option>
   <option>Lineage IV</option>
   <option>Subgroup I</option>
   <option>Subgroup II</option>
   <option>Subgroup III</option>
   <option>Subgroup IV-I</option>
   <option>Subgroup IV-II</option>
   <option>Subgroup V</option>
   <option>Subgroup VI</option>
   <option>Subgroup VII</option>
   <option>Subgroup VIII</option>
   <option>Subgroup IX</option>
   <option>Subgroup X</option>
   <option>other</option>
  </optlist>
</field>
<field type="text" required="no" length="10" maindisplay="no">serotype</field>
<field type="text" required="no" length="15" maindisplay="no">sero_subtype</field>
<field type="text" required="no" length="10" maindisplay="no">ET_no</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">penicillin</field>
<field type="text" required="no" length="25" maindisplay="no" comments="MIC value range" optlist="yes">penicillin_range
  <optlist>
   <option><![CDATA[<=0.06 (susceptible)]]></option>
   <option><![CDATA[>0.06 - 1 (intermediate)]]></option>
   <option><![CDATA[>1 (resistant)]]></option>
  </optlist>
</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">sulphonamide</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">ceftriaxone</field>
<field type="text" required="no" length="25" maindisplay="no" comments="MIC value range" optlist="yes">ceftriaxone_range
  <optlist>
   <option><![CDATA[<=0.06 (susceptible)]]></option>
   <option><![CDATA[>0.06 (not susceptible)]]></option>
  </optlist>
</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">chloramphenicol</field>
<field type="text" required="no" length="25" maindisplay="no" comments="MIC value range" optlist="yes">chloramphenicol_range
  <optlist>
   <option><![CDATA[<=2 (susceptible)]]></option>
   <option><![CDATA[>2 - <8 (intermediate)]]></option>
   <option><![CDATA[>=8 (resistant)]]></option>
  </optlist>
</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">cefotaxime</field>
<field type="text" required="no" length="25" maindisplay="no" comments="MIC value range" optlist="yes">cefotaxime_range
  <optlist>
   <option><![CDATA[<=0.06 (susceptible)]]></option>
   <option><![CDATA[>0.06 (not susceptible)]]></option>
  </optlist>
</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">rifampicin</field>
<field type="text" required="no" length="25" maindisplay="no" comments="MIC value range" optlist="yes">rifampicin_range
  <optlist>
   <option><![CDATA[<=1 (susceptible)]]></option>
   <option><![CDATA[>1 (resistant)]]></option>
  </optlist>
</field>
<field type="text" required="no" length="20" maindisplay="no" comments="MIC in mg/l">ciprofloxacin</field>
<field type="text" required="no" length="25" maindisplay="no" comments="MIC value range" optlist="yes">ciprofloxacin_range
  <optlist>
   <option><![CDATA[<=0.03 (susceptible)]]></option>
   <option><![CDATA[>0.03 - <0.12 (intermediate)]]></option>
   <option><![CDATA[>=0.12 (resistant)]]></option>
  </optlist>
</field>
<field type="text" required="no" length="1000" maindisplay="no" comments="any other comments">comments</field>
<field type="int" required="yes" length="4" maindisplay="no" comments="sender unique name, link to users">sender</field>
<field type="int" required="yes" length="4" maindisplay="no" comments="curator who entered data,link to users">curator</field>
<field type="date" required="yes" length="10" maindisplay="no" comments="date first entered">date_entered</field>
<field type="date" required="yes" length="10" maindisplay="no" comments="date last modified">datestamp</field>
</db>
